@font-face {
  font-family: 'iconfont';
  src:url('iconfont.ttf?h9xcj') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
  content: "\e600";
}
.icon-shouye:before {
  content: "\e626";
}
.icon-img:before {
  content: "\e62e";
}
.icon-tabs:before {
  content: "\e62f";
}
.icon-iframe:before {
  content: "\e639";
}
.icon-daima:before {
  content: "\e816";
}
.icon-event:before {
  content: "\e630";
}
.icon-circle:before {
  content: "\e880";
}
.icon-gauge:before {
  content: "\e60c";
}
.icon-radar:before {
  content: "\e6cd";
}
.icon-view:before {
  content: "\e60e";
}
.icon-link:before {
  content: "\e6dc";
}
.icon-scatter:before {
  content: "\e674";
}
.icon-bar:before {
  content: "\e60d";
}
.icon-pie:before {
  content: "\e601";
}
.icon-moban:before {
  content: "\e602";
}
.icon-peizhi:before {
  content: "\e620";
}
.icon-map:before {
  content: "\e603";
}
.icon-progress:before {
  content: "\e64d";
}
.icon-wordCloud:before {
  content: "\e752";
}
.icon-build:before {
  content: "\e72d";
}
.icon-line:before {
  content: "\e608";
}
.icon-pictorialBar:before {
  content: "\e609";
}
.icon-banner:before {
  content: "\e614";
}
.icon-flop:before {
  content: "\e683";
}
.icon-scroll:before {
  content: "\e688";
}
.icon-funnel:before {
  content: "\e631";
}
.icon-reset:before {
  content: "\e68b";
}
.icon-table:before {
  content: "\e651";
}
.icon-datetime:before {
  content: "\e607";
}
.icon-video:before {
  content: "\e627";
}
.icon-text:before {
  content: "\e605";
}
.icon-slide:before {
  content: "\ea9c";
}
.icon-daping:before {
  content: "\e675";
}
.icon-gauge{
  font-size: 12px !important;
}